
<br>
<br>
<br>
<br>
<center>
<h1 class="blue">Search The List For A Book To Recommend!</h1>
<br>
<br>
<%= form_with url: "/books", method: :get, local: true do |f| %>
<%= f.label :title %>
<%= f.text_field :search %>
<%= f.submit "Search Books by Title" %>
<% end %>
<br>
<br>
<div class="tenor-gif-embed" data-postid="21369880" data-share-method="host" data-aspect-ratio="2.42424" data-width="50%"><a href="https://tenor.com/view/library-study-gif-21369880">Library Study GIF</a>from <a href="https://tenor.com/search/library-gifs">Library GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</center>
