<br>
<br>
<center>
  <h1 class="blue">Welcome to The List!</h1>
  <div id="about-us">
    <h6 class="blue">An app to recommend and share your favorite books and movies with friends!</h6>
  </div>
  <div class="tenor-gif-embed" data-postid="16038292" data-share-method="host" data-aspect-ratio="1" data-width="30%"><a href="https://tenor.com/view/to-do-list-checklist-check-it-all-list-gif-16038292" auto-play="true">To Do List Checklist Sticker</a>from <a href="https://tenor.com/search/to+do+list-stickers">To Do List Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  <% if !current_user %>
    <%= button_to 'Login with Google', '/auth/google_oauth2/', method: :get %>
  <% end %>
</center>
