<center>
  <h1>Welcome to The List!</h1>
  <h3>About Us</h3>
  <p>An app to recommend and share your favorite books and movies with friends! Easy and free to use! Register or log in with Google.</p>
  <%= image_tag 'https://www.indiewire.com/wp-content/uploads/2020/11/MSDROCK_EC013.jpg' %>
</center>
