<center>
  <h1>Welcome to The List!</h1>
  <%= image_tag "https://user-images.githubusercontent.com/98491210/181646573-c49f9559-b3e3-426e-b924-65c7ff6783cf.jpeg" %>
  <h3>About Us</h3>
<div id="about-us">
  <p>An app to recommend and share your favorite books and movies with friends! Register or log in with Google.</p>
</div>
  <%= image_tag 'https://www.indiewire.com/wp-content/uploads/2020/11/MSDROCK_EC013.jpg' %>

  <%= button_to "Sign in or sign up with Google", "/auth/google_oauth2", method: :get %>
</center>
