<h1>Books Matching Your Search</h1>

<% @books.each do |book| %>
<p class="bookResults"><%= link_to "#{book.title}", "/books/#{book.id}" %>, <strong>Date Published:</strong> <%= book.published_date %> <strong>Author(s):</strong> <%= book.author.join(', ') %></p>
<% end %>
