
<br>
<br>
<br>
<br>
<center>
<h1 class="blue">Search The List For A Movie To Recommend!</h1>
<br>
<br>
<%= form_with url: "/movies", method: :get, local: true do |f| %>
<%= f.label :title %>
<%= f.text_field :search %>
<%= f.submit "Search Movies by Title" %>
<% end %>
<br>
<br>
<div class="tenor-gif-embed" data-postid="12607117" data-share-method="host" data-aspect-ratio="1.55" data-width="40%"><a href="https://tenor.com/view/film-izlemek-gif-12607117" auto-play="true">Film Izlemek GIF</a>from <a href="https://tenor.com/search/film+izlemek-gifs">Film Izlemek GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</center>
