<h1>Search The List For A Movie To Recommend!</h1>

<%= form_with url: "/movies", method: :get, local: true do |f| %>
<%= f.label :title %>
<%= f.text_field :search %>
<%= f.submit "Search Movies by Title" %>
<% end %>
