<nav class="navbar navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/login"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about" style="color: #8bf5f8">About Us</a>
        </li>
        <% if !current_user %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/auth/google_oauth2/" style="color: #8bf5f8">Log In</a>
        </li>
        <% end %>

        <% if current_user %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" data-method="delete" style="color: #8bf5f8">Log Out</a>
        </li>
        <% end %>
            <a class="nav-link active">
            </a>
      </ul>
    </div>
  </button>
  </div>
</nav>
